<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csDao" class="com.jsf.spring6.dao.CsDao"/>
    <bean id="userDao" class="com.jsf.spring6.dao.UserDao"/>
    <bean id="customerService" class="com.jsf.spring6.service.CustomerService" autowire="byType"/>
</beans>