<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="birthBean" class="java.util.Date"/>
    <bean id="dogBean" class="com.jsf.spring6.bean.Dog" p:name="汪p" p:age="1" p:birth-ref="birthBean"/>

</beans>