<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateBean" class="java.util.Date"/>
    <bean id="dogBean" class="com.jsf.spring6.bean.Dog" c:_0="汪乙" c:_1="2" c:_2-ref="dateBean"/>
</beans>